/* Animated Hieght Accordion w/ grid */
.custom-accordion {
  --accordion-color: #6a6c81;
  --accordion-border-color: #9b2efa;
  --accordion-bg-color: #fff;

  border-left: 16px solid var(--accordion-border-color);
  background-color: var(--accordion-bg-color);
  color: var(--accordion-color);
  border-radius: 8px;
  overflow: hidden;
  cursor: pointer;

  .title {
    font-weight: 700;
    font-size: 1.25rem;
    padding: 1rem;
    > span {
      background-color: var(--accordion-border-color);
      color: var(--accordion-bg-color);
      font-size: 9pt;
      text-transform: capitalize;
      font-weight: 600;
      padding: 0.2em 0.4em;
      border-radius: 0.4em;
      margin-left: 0.4em;
      position: relative;
      top: -3px;
    }
  }

  .body {
    padding-inline: 1rem;
  }

  &.w-grid {
    .body {
      display: grid;
      grid-template-rows: 0fr;
      transition: 250ms grid-template-rows ease;
      > div {
        overflow: hidden;
        /* margin-bottom: 1em; */
      }
    }

    &:hover .body {
      grid-template-rows: 1fr;
      > div {
        margin-bottom: 1em;
      }
    }
  }

  &.w-heigth {
    .body {
      height: 0;
      transition: 500ms height ease;
      overflow: hidden;
      > div {
        margin-bottom: 1em;
      }
    }

    &:hover .body {
      height: auto;
      overflow: visible;
    }
  }
}

/* Default CSS */
body {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  background-color: #45475a;
  color: #f8f8f8;
  height: 100vh;
  /* display: flex; */
  padding: 30px;
  margin: 0;
  box-sizing: border-box;
  line-height: 1.75em;
}
.wrapper-container {
  margin: auto;
  position: relative;
  /* top: -50px; */
}

* {
  user-select: none;
  box-sizing: border-box;
}

.wrapper-container h3 {
  margin-bottom: 30px;
  font-weight: bold;
  font-size: 24pt;
  line-height: 1.5em;
}

.wrapper-container p {
  margin: 0;
  line-height: 2em;
}

p {
  width: calc(100%);
  font-size: 15px;
  letter-spacing: 0.1em;
  line-height: 1.5em !important;
}

/*  */
