/**  A simple CSS trick for dark mode  **/
.images--wrapper img {
  max-width: 25%;
  width: 100%;

  /* Make Images Same Height % */
  aspect-ratio: 3/2;

  /* Make Stretched Images Fit Within Its Container */
  object-fit: contain;

  /* Remove White Background */
  mix-blend-mode: color-burn;
}

/** ©2024 {CODING.TIPS}  **/

/* 






















Default CSS */
* {
  user-select: none;
  box-sizing: border-box;

  text-align: center !important;
}
body {
  font-size: 18px;
  font-family: "Roboto", sans-serif;
  height: 100vh;
  background-color: #41435a30;
  color: #41435a;
  /* display: flex; */
  padding: 20px 40px;
  margin: 0;
  box-sizing: border-box;
  line-height: 1.75em;
}

.images--wrapper {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  gap: 16px;
  max-width: 600px;
  width: 100%;
  margin: 0;
}

.wrapper-container {
  margin: auto;
  position: relative;
  /* top: -50px; */
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  flex-direction: column;
  margin-top: -25px;
}

.wrapper-container h3 {
  margin-bottom: 28px;
  font-weight: bold;
  font-size: 24pt;
  line-height: 1.5em;
}

.wrapper-container p {
  margin: 0;
  /* line-height: 2em; */
}

p {
  width: calc(100%);
  font-size: 16px;
  letter-spacing: 0.1em;
  line-height: 1.5em !important;
  text-align: justify;
  padding-top: 80px;
  font-weight: bold;
  text-transform: lowercase;
  &::first-letter {
    text-transform: uppercase;
  }
}
