/**  A simple CSS trick for dark mode  **/
/* Light mode */
@media (prefers-color-scheme: light) {
  :root {
    --body-bg: #ffffff;
    --body-color: #000000;
  }
}

/* Dark mode */
@media (prefers-color-scheme: dark) {
  :root {
    --body-bg: #000000;
    --body-color: #ffffff;
  }
}

body {
  background-color: var(--body-bg);
  color: var(--body-color);
}

/**  CODE.TIPS  **/

/* Default CSS */
* {
  user-select: none;
  box-sizing: border-box;

  text-align: center !important;
}
body {
  font-size: 18px;
  font-family: "Roboto", sans-serif;
  height: 100vh;
  /* display: flex; */
  padding: 0 30px;
  margin: 0;
  box-sizing: border-box;
  line-height: 1.75em;
}
.wrapper-container {
  margin: auto;
  position: relative;
  /* top: -50px; */
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  flex-direction: column;
  margin-top: -25px;
}

.wrapper-container h3 {
  margin-bottom: 28px;
  font-weight: bold;
  font-size: 24pt;
  line-height: 1.5em;
}

.wrapper-container p {
  margin: 0;
  /* line-height: 2em; */
}

p {
  width: calc(100%);
  font-size: 16px;
  letter-spacing: 0.1em;
  line-height: 1.5em !important;
  text-align: justify;
}
